# Python Fundamentals - Part II

![python_logo](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/python_logo.png)

In this post we will be learning about ***`Collections`*** in python.

This is the second post in the series of Python Fundamentals. These posts are a result of my own journey of learning python. In this series i have tried to include a lot of examples trying out different experiments of the new concepts which will be introduced. Experimenting, i guess is the best way to learn anything new.

In the [first part](http://learningmlandai.com/python-fundamentals-part-1/), we learnt about:
1. ***Python basics***
2. ***Data types in python***
3. ***Variables***
4. ***Typecasting***
5. ***Mathematical operations in python***
6. ***Strings***
    1. ***Indexing*** (Positive and Negative)
    2. ***Slicing in strings***
    3. ***String operations***
    4. ***Immutability of strings***
    5. ***String methods***

If you are not familiar with these or need a little refresher, it is recommended that you read the [Part 1](http://learningmlandai.com/python-fundamentals-part-1/) first before proceeding ahead with this post.

I would highly encourage you to try out the example code snippets from this post as you go along. It will help you gain the maximum out of this post.

Also I will be using Jupyter Notebook in this post exclusively to try out different things. If you are not familiar with Jupyter Notebooks and want to try it out, you can read my post on getting started with Jupyter [here](http://learningmlandai.com/introduction-to-jupyter-notebook/).

Alright enough publicity! Lets dive straight into the exciting stuff.

## Tuples

First collection we will learn today is ***Tuples***. A ***Tuple*** is an ordered collection of items. It is a ***heterogeneous*** collection which means that a tuple can contain different types of elements bundled together. A tuple can be created by specifying the elements in a comma separated manner inside a parentheses. Lets look at an example-

In [1]:
# Example of tuple
my_tuple = ("Antractica", 5, "Tom Hanks", 3.14, True, 8)
my_tuple

('Antractica', 5, 'Tom Hanks', 3.14, True, 8)

In [2]:
# Checking type of a tuple object
type(my_tuple)

tuple

As we can see from the example above, we can bundle together different types of data types - ***Strings***, ***Integers***, ***Floats***, ***Booleans*** or even ***complex data types*** within a tuple.

Below find an example of a tuple containing a tuple.

In [3]:
# Example of a tuple containing a tuple
another_tuple = ("Sunday", ("Pizza", "Ice-cream", 45, 5.14), True, 1000, "HaHa")
another_tuple

('Sunday', ('Pizza', 'Ice-cream', 45, 5.14), True, 1000, 'HaHa')

This is an example of ***`Nested Tuple`*** where a tuple contains a tuple inside it. We can have as many levels of nesting as needed.

Similar to strings, you can get the length of the tuple using `len()` command.

In [4]:
# Length of my_tuple
len(my_tuple)

6

In [5]:
# Length of nested tuple object - another_tuple
len(another_tuple)

5

In you see in the above example of length of our nested tuple `another_tuple` we get `5` as length because the nested tuple is considered as 1 single element of the outer tuple.

### Indexing in a Tuple

Indexing in tuples is very similar to indexing in String that we discussed in the last post. For reference lets consider our tuple variable - `my_tuple`.

In [6]:
my_tuple

('Antractica', 5, 'Tom Hanks', 3.14, True, 8)

![tuple_positive_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/tuple_positive_indexing.png)

Now we can refer to any specific element of a tuple using its index. Indexing is very similar to indexing in strings as can be seen from examples below-

In [7]:
# Indexing example in a tuple. Get element at index 0
my_tuple[0]

'Antractica'

In [8]:
# Another example of indexing in a tuple. Get element at index 3
my_tuple[3]

3.14

In [9]:
# Another example of indexing in tuples to get the last element
my_tuple[5]

8

***Negative Indexing***

Now lets consider negative indexing in tuples. Similar to strings we can use negative indexing to refer to individual tuple elements.

![tuples_negative_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/tuple_negative_indexing.png)

Refer to the above image for examples above.

In [10]:
# Negative indexing in tuples
my_tuple[-4]

'Tom Hanks'

In [11]:
# Another example of negative indexing in tuples
my_tuple[-2]

True

***Indexing in nested tuples***

Lets create a new nested tuple.

In [12]:
# Creating a nested tuple
nested_tuple = ("Sunday", ("Pizza", 45, 5.5), 3.14, 1000, "HaHa")
nested_tuple

('Sunday', ('Pizza', 45, 5.5), 3.14, 1000, 'HaHa')

![nested_tuple_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/nested_tuple_indexing.png)

Indexing for a nested tuple works as expected for the normal elements of the tuple.

In [13]:
# Indexing normal elements of a nested tuple
nested_tuple[0]

'Sunday'

In [14]:
nested_tuple[3]

1000

Lets see when we refer to the index where the nested tuple is present.

In [15]:
# Refering to index of nested tuple
child_tuple = nested_tuple[1]
child_tuple

('Pizza', 45, 5.5)

In [16]:
type(child_tuple)

tuple

From this we can see that when we refer to the index of the nested tuple, value obtaines is a tuple. Now we can perform indexing in this tuple like a normal tuple.

In [17]:
# Get first element of the child_tuple
child_tuple[0]

'Pizza'

In [18]:
# Get second element of the child_tuple
child_tuple[1]

45

Now lets recap what we did to index a nested tuple. Attaching the image again for reference.

![nested_tuple_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/nested_tuple_indexing.png)

Suppose we are interested in finding the last element of the child tuple. We can do it as follows.

In [19]:
# Indexing in a nested tuple to get last element of child tuple

# first get the child tuple object
child = nested_tuple[1]
print(child)
print(len(child))

# Now get the last element of the child as needed. Since there are 3 elements in child tuple (length 3)
# we can use index 2 to refer to the last element
child[2]

('Pizza', 45, 5.5)
3

5.5

In python we dont need to necessarily create the intermediate variable child to index in the child tuple. We can achieve this by performing indexing in succession by placing square brackets containing indexices one after the other to keep going one level deep. This can be explained as in image below-

![nested_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/nested_indexing_explained.png)

In [20]:
# Nested indexing without creating intermediate variable
nested_tuple[1][2]

5.5

In [21]:
# Get first element of child tuple
nested_tuple[1][0]

'Pizza'

### Slicing in tuples

We can perform slicing in tuples as well. This operation is exactly similar to slicing in strings. 

Lets consider `my_tuple` once again to understand slicing.

In [22]:
my_tuple

('Antractica', 5, 'Tom Hanks', 3.14, True, 8)

We can refer to the below image for reference-

![tuple_positive_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/tuple_positive_indexing.png)

In [23]:
# Example of slicing starting at 0 and ending at 3
# we use start_index as 0
# we use end_index as 3 + 1 because this parameter is 1 greater than the index of the last element we want
my_tuple[0 : 3 + 1]

('Antractica', 5, 'Tom Hanks', 3.14)

In [24]:
my_tuple[0 : 4]

('Antractica', 5, 'Tom Hanks', 3.14)

In [25]:
# Example of slice starting at 1 and going on till end of tuple
my_tuple[1 : ]

(5, 'Tom Hanks', 3.14, True, 8)

In [26]:
# Example of slice starting at beginning of tuple and ending at 3
my_tuple[ : 4]

('Antractica', 5, 'Tom Hanks', 3.14)

In [27]:
# Example of entire tuple as slice
my_tuple[ : ]

('Antractica', 5, 'Tom Hanks', 3.14, True, 8)

In [28]:
# Example of slice containing of every other element of tuple in the slice
# We introduce a third parameter in the square brackets for stride/step size
my_tuple[ :   : 2]

('Antractica', 'Tom Hanks', True)

If you are not able to understand any of these, I strongly urge you to go through slicing in strings in my first post [here](link to part 1).

### Immutability of tuples

Like strings, ***tuples are immutable***. This means that once created, you can not edit a tuple - like you can't add a new element, remove an element or change an element. A tuple is immutable to prevent any accidental change to the values. However you can always create new tuples whenever needed.

In [29]:
# Experiment to try immutability of tuples

# Create a new tuple
icecream_flavours = ('Chocolate', 'Vanilla', 'Strawberry')
icecream_flavours

('Chocolate', 'Vanilla', 'Strawberry')

In [30]:
# Try changing a value

# Lets try if we can change 'Strawberry' to 'Butterscotch'
icecream_flavours[2] = 'Butterscotch'

TypeError: 'tuple' object does not support item assignment

As expected, python doesn't allow us to change a tuple once created. However we can always create a new tuple with the new values.

In [33]:
# Tuple with new values
icecream_flavours = ('Chocolate', 'Vanilla', 'Butterscotch')
icecream_flavours

('Chocolate', 'Vanilla', 'Butterscotch')

We can verify this is a new tuple and not the old one by checking the addresses of the two using the `id()` method available. Try it out yourself. If you need help doing it, refer to the section where i explained it for strings in the first post [here](link to part 1)

### Operations on tuples

***Joining/Concatenating two tuples***

You can concatenate/join two or more tuples using `'+'` operator as shown below. This results in a new tuple and original tuples are not affected.

In [34]:
# Example of concatenating two tuples
tuple_1 = ('Hello', 3, True)
tuple_2 = ('World', 66, False)

tuple_1 + tuple_2

('Hello', 3, True, 'World', 66, False)

***Replicating a tuple***

Like strings, you can replicate a tuple using `'*'` operator. This also results in a new tuple.

In [35]:
# Replicating a tuple using *
tuple_1 * 3

('Hello', 3, True, 'Hello', 3, True, 'Hello', 3, True)

***Sorting a tuple***

You can sort a tuple using `sorted()` method available in python. This also results in a new tuple with original tuple remaining unchanged.

In [36]:
# Sorting a tuple
tuple_for_sorting = ('Hello', 'World', 'Tom', 'Hanks', 'Sunday')
sorted(tuple_for_sorting)

['Hanks', 'Hello', 'Sunday', 'Tom', 'World']

You can not sort a tuple containing elemnts of different types. If you try to do this, python will throw an error like in example below-

In [37]:
# Trying to sort tuple conatining string and int
another_tuple = ('Hello', 'World', 3, 4)
sorted(another_tuple)

TypeError: '<' not supported between instances of 'int' and 'str'

***Checking if an element is present in tuple***

You can check if an element is present in the tuple using the `in` command as shown below-

In [38]:
# Usage of in command to check if an element is present
my_tuple = ('Hello', 'Sunday', 45)
'Sunday' in my_tuple

True

In [39]:
'Monday' in my_tuple

False

As shown in the examples above, if the element is present in the tuple we get `True` else we get `False`.

Our discussion of tuples end here, now lets start with another collection in python named ***List***.

<hr>
<br>

## Lists

A ***List***, like tuple, is an ***ordered*** collection of items. It is also a ***heterogeneous*** collection which means that a ***list*** can contain different types of elements bundled together. It differs from tuples by being ***mutable*** (we will talk more about it later). Firstly lets start by creating a list. A list can be created by specifying the elements in a comma separated manner inside square brackets. Lets look at an example-

In [40]:
# Creating a list
my_list = ['Hello', 3, 3.14, 'Tom Hanks']
my_list

['Hello', 3, 3.14, 'Tom Hanks']

In [41]:
# Creating an empty list
empty_list = []
empty_list

[]

Like tuples, in ***lists*** also we can bundle together different types of data types - ***Strings***, ***Integers***, ***Floats***, ***Booleans*** or even ***complex data types*** like ***lists*** or ***tuples*** within a list.

Below find an example of a list containing a nested list.

In [42]:
# Creating a complex list
complex_list = ['Sunday', 'Pizza', ['A', 'B', 1000], 27, True]
complex_list

['Sunday', 'Pizza', ['A', 'B', 1000], 27, True]

Like for tuples and strings, we can find the length of a list using `len()` method.

In [43]:
# Length of list using len()
len(my_list)

4

In [44]:
# Length of complex list
len(complex_list)

5

### Indexing in lists

***Positive indexing***

Indexing in ***lists*** is similar to indexing in tuples and strings. Lets use the list object `my_list` we created to understand indexing in ***lists***.

In [45]:
my_list

['Hello', 3, 3.14, 'Tom Hanks']

![lists_positive_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/lists_positive_indexing.png)

We can refer to any specific element of a list using its index.

In [46]:
# Example of indexing in list
my_list[0]

'Hello'

In [47]:
# Example of indexing in list to get element at index 2
my_list[2]

3.14

***Negative indexing***

![lists_negative_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/lists_negative_indexing.png)

In [48]:
# Example of negative indexing in list
my_list[-1]

'Tom Hanks'

In [49]:
# Example of negative indexing in list to get element at index -3
my_list[-3]

3

***Indexing in nested list***

Indexing for nested lists is similar to indexing for nested tuples which we just discussed above. So lets dive straight into examples.

In [50]:
complex_list

['Sunday', 'Pizza', ['A', 'B', 1000], 27, True]

![nested_list_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/nested_list_indexing.png)

In [51]:
# Indexing in nested list to get first element of child list
complex_list[2][0]

'A'

In [52]:
# Indexing in nested list to get element of child list at index 1
complex_list[2][1]

'B'

In [53]:
# Indexing in nested list to get element of child list at index 2
complex_list[2][2]

1000

### Slicing in lists

Slicing in lists is similar to slicing in tuples and strings.

In [54]:
my_list

['Hello', 3, 3.14, 'Tom Hanks']

![lists_slicing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/lists_positive_indexing.png)

In [55]:
# Slicing example in lists
my_list[1 : 3]

[3, 3.14]

In [56]:
# Slicing example from the beginning of the list
my_list[ : 2]

['Hello', 3]

In [57]:
# Slicing example till end of the list
my_list[1 : ]

[3, 3.14, 'Tom Hanks']

In [58]:
# Entire list as a slice
my_list[ : ]

['Hello', 3, 3.14, 'Tom Hanks']

In [59]:
# Slice consisting of every second element in the list
my_list[ : : 2]

['Hello', 3.14]

### Mutability of Lists

As we discussed while introducing lists that the main difference between `tuples` and `lists` is that the ***`lists are mutable`***. This means that we can modify the list object after its creation.

***Changing an existing list element***

Lets consider our list object `my_list` and try to change one of its element.

In [60]:
my_list

['Hello', 3, 3.14, 'Tom Hanks']

Suppose we want to change the string 'Hello' to 'Hello World'. We can accomplish this by assigning the new value to the list at the appropriate index like in the example below-

In [61]:
# Change element at index 0 to 'Hello World'
my_list[0] = 'Hello World'
my_list

['Hello World', 3, 3.14, 'Tom Hanks']

As we can see, our list now contains the new value at index 0. Now lets again try changing another value but this time we will make sure that a new list object is not created by it by observing the address of the list in the memory using `id()` method.

In [62]:
# Get address of list object before mutating
id(my_list)

140234813496768

Now lets change the value 3 at index 1 to True.

In [63]:
# Change value of 3 at index 1 to True
my_list[1] = True
my_list

['Hello World', True, 3.14, 'Tom Hanks']

In [64]:
# Lets check the address of the list after mutating
id(my_list)

140234813496768

As we can see that the address of the list object remains same which proves it is the same list object and we are successfully able to change the list items.

***Adding new elements to the list***

We can use `append()` function available to add a new element at the end of the list.

In [65]:
# Current my_list object
my_list

['Hello World', True, 3.14, 'Tom Hanks']

Now lets try adding a new value 'Sunday' to the list.

In [66]:
# Add a new value of 'Sunday' at the end of the list using append()
my_list.append('Sunday')
my_list

['Hello World', True, 3.14, 'Tom Hanks', 'Sunday']

Thus we can see from the example above that 'Sunday' has been successfully appended at the end of the list.

We can use `extend()` function to add multiple values to the list as shown below.

In [67]:
# Add multiple values to the list using extend()
my_list.extend([11, 'Ice-cream', 'Pizza'])
my_list

['Hello World', True, 3.14, 'Tom Hanks', 'Sunday', 11, 'Ice-cream', 'Pizza']

As we can observe in the example above we provide a ***list*** of elements to be added to the list in the `extend()` function.

Lets see what happens when we try to add a list using the `append()` function.

In [68]:
# Try adding a list using the append() method
my_list.append([1, 2, 3])
my_list

['Hello World',
 True,
 3.14,
 'Tom Hanks',
 'Sunday',
 11,
 'Ice-cream',
 'Pizza',
 [1, 2, 3]]

We can see that the list gets appended to the original list as a single element of nested list.

Thus we use `append()` when we want to ***add one single element*** to the list. This single element can be of any type including complex types including tuples or lists.

We use `extend()` when we want to add multiple elements to the list.

***Deleting/Removing elements from the list***

In [69]:
my_list

['Hello World',
 True,
 3.14,
 'Tom Hanks',
 'Sunday',
 11,
 'Ice-cream',
 'Pizza',
 [1, 2, 3]]

We can remove an item from the list at a specific index using the `del()`. Suppose from `my_list`, we want to remove value of `3.14` which is at the index 2 in the list. We can do this as below-

In [70]:
# Remove element at index 2 using del() method
del(my_list[2])
my_list

['Hello World',
 True,
 'Tom Hanks',
 'Sunday',
 11,
 'Ice-cream',
 'Pizza',
 [1, 2, 3]]

We can also remove a particular value from the list without knowing the index of that value in the list using `remove()` function. Suppose now we want to remove `Ice-cream` from the list above. We can do this as below-

In [71]:
# Remove the element with value 'Ice-cream' from the list
my_list.remove('Ice-cream')
my_list

['Hello World', True, 'Tom Hanks', 'Sunday', 11, 'Pizza', [1, 2, 3]]

We can also use `pop()` function available to remove an element as shown below-

In [72]:
my_list

['Hello World', True, 'Tom Hanks', 'Sunday', 11, 'Pizza', [1, 2, 3]]

In [73]:
# deleting an element using pop()
my_list.pop()

[1, 2, 3]

In [74]:
my_list

['Hello World', True, 'Tom Hanks', 'Sunday', 11, 'Pizza']

As we can see from the example above, using `pop()` deletes the last element of the list and returns it.

We can also use `pop()` command at a specific index by specifying the index in the `pop()` command.

In [75]:
my_list

['Hello World', True, 'Tom Hanks', 'Sunday', 11, 'Pizza']

In [76]:
# Use pop() to pop element at index 2
my_list.pop(2)

'Tom Hanks'

In [77]:
my_list

['Hello World', True, 'Sunday', 11, 'Pizza']

***Side-effects of list mutability***

Because lists are mutable, this leads to an interesting scenario known as ***`side-effect`***. Lets try to understand it with an example.

In [78]:
# Example for side-effect of list mutability
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [79]:
b = a
b

[1, 2, 3, 4]

Now lets try changing the first element of list `a` from `1` to `10`.

In [80]:
# Change first element of a to 10
a[0] = 10
a

[10, 2, 3, 4]

Lets see what the value of `b` is now.

In [81]:
b

[10, 2, 3, 4]

We can see that the first element of `b` gets changed as well when we change `a`. This is called ***side-effect***. 

This happens because when we created `b` using `b = a`, they refer to the same object in the memory. Thus changing the list using `a` reflects changes in `b` as well.

We can verify the `a` and `b` are refering to the same memory location using the `id()` function.

In [82]:
# Address of a
id(a)

140234814076400

In [83]:
# Address of b
id(b)

140234814076400

From this we can confirm that indeed `a` and `b` refer to the same memory location which explaings why changing `a` changes `b` as well.

We can prevent this ***side-effect*** from happening using ***`cloning`***. In `cloning` we use ***slicing*** to create `b` as shown below-

In [84]:
a

[10, 2, 3, 4]

In [85]:
# Lets create b using cloning of a
b = a[ : ]
b

[10, 2, 3, 4]

In example above we used `slicing` from the first element of the list till the last element to create `b`. Lets see if `a` and `b` refer to the same objects in the memory.

In [86]:
# Address of a
id(a)

140234814076400

In [87]:
# Address of b
id(b)

140234813225232

Thus we can see that `b` created using cloning technique from `a` had different address. So if we change a value in `a`, the change should not be reflected in `b`.

In [88]:
# Lets change first element of a back to 1
a[0] = 1
a

[1, 2, 3, 4]

In [89]:
# Lets see if changes are reflected in b
b

[10, 2, 3, 4]

As we can see that the changes made in `a` are nore reflected in `b` anymore.

### Operations on list

Operations available for tuples are available for `lists` as well.

***Concatenating two lists***

Two lists can ce concatenated using `'+'` operator. This results in a new list.

In [91]:
a

[1, 2, 3, 4]

In [92]:
b

[10, 2, 3, 4]

In [93]:
a + b

[1, 2, 3, 4, 10, 2, 3, 4]

***Replicating a list***

A list can be replicated using `'*'` operator. This results in a new list.

In [94]:
a

[1, 2, 3, 4]

In [95]:
a * 2

[1, 2, 3, 4, 1, 2, 3, 4]

***Sorting a list***

Similar to tuples, we can sort a list in python using `sorted()` function. This results in a new sorted list from the original list. Original list is not changed.

In [96]:
b

[10, 2, 3, 4]

In [97]:
# Sort the list using sorted()
sorted(b)

[2, 3, 4, 10]

For ***lists***, we can perform sorting using well using the `sort()` function. With this, the original list will be changed and sorted instead of a new sorted list being created.

We can try this with an experiment as below-

In [98]:
b.sort()
b

[2, 3, 4, 10]

As we can see that the list `b` itself is now changed and sorted.

***Checking if an element is present in list***

We can check the presence of an element in a list using the `in` command. If the element exists in the list, we get `True` else we get `False`.

In [99]:
a

[1, 2, 3, 4]

In [100]:
# Check presence of 2 in a
2 in a

True

In [101]:
# Check presence of 100 in a
100 in a

False

*Our discussion of lists end here, now lets start with another collection in python named* ***Set***.

<hr>
<br>

## Sets

A set is an ***unordered***, ***heterogeneous*** collection of ***unique*** elements. 

***Unordered*** means that the elements in a set are not in any specific order. Thus we can't use any indexing on `Sets`.

***Heterogeneous*** means that set can containg values of different data types.

***Unique*** means that a set can't contain any duplictaes values.

We can create a set by specifying elements ina comman separated manner within curly braces as shown below.

In [102]:
# Create a set
my_set = {'Hello', 100, 3.14}
my_set

{100, 3.14, 'Hello'}

In [103]:
type(my_set)

set

Now since a `set` can not contain any duplicate values, what if we try to create a new set and specify duplicates values while creation. Lets see what happens.

In [104]:
# Trying to create a set with duplicate values
new_set = {'Hello', 100, 3.14, 'Hello', 100, 100}
new_set

{100, 3.14, 'Hello'}

As we can see that even though we tried to add duplicate values to a set by adding the value `'Hello'` two times and value of `100` three times, set removes all the duplicates and cotains of only single values.

We can create `sets` from `lists` as well using the `set()` method. Creating a set using this methold also will remove any duplicate values if any present in the list.

In [105]:
# Creating of set from list
a_list = [1, 2, 3, 3, 4, 2]
a_list

[1, 2, 3, 3, 4, 2]

In [106]:
set_from_list = set(a_list)
set_from_list

{1, 2, 3, 4}

In [107]:
type(set_from_list)

set

As we can see that the duplicate values present in the list are removed while set creation. However this doesn't change the list in any ways. List still contains all the duplicate values as it is as we can see below.

In [108]:
a_list

[1, 2, 3, 3, 4, 2]

We can the length of the set using the `len()` command.

In [109]:
# Length of the set
len(set_from_list)

4

### Mutability of sets

Sets are mutable i.e. we can add or remove elements from a set.

***Adding an element to a set using `add()`***

We can add an element to a set using the `add()` function. If the value is not present in the set, it gets added to the set. If the element is already present, there is no change in the set then.

In [110]:
my_set

{100, 3.14, 'Hello'}

In [111]:
# Adding an element to the set using add()
my_set.add('Pizza')
my_set

{100, 3.14, 'Hello', 'Pizza'}

In [112]:
# trying to add an element already existing in the set
my_set.add(100)
my_set

{100, 3.14, 'Hello', 'Pizza'}

***Removing an element from the set***

We can remove an element from the set using the `remove()` method as shown below.

In [113]:
my_set

{100, 3.14, 'Hello', 'Pizza'}

In [114]:
# Remove 'Hello' from the set using remove()
my_set.remove('Hello')
my_set

{100, 3.14, 'Pizza'}

***Checking if an element is present in the set***

Similar to tuples and list, we can check if an element is present in the set using `in` command. It return `True` is the element is present, else return `False`.

In [115]:
a_set = {1, 2, 3, 4}
a_set

{1, 2, 3, 4}

In [116]:
# Checking if 2 is present in the set
2 in a_set

True

In [117]:
# Checking if 100 is present in the set
100 in a_set

False

### Set operations

Sets support many operations which are specific to sets.

***Union***

We can take `union` of two sets using the `'|'` operator. Union results in a new set containing all the elements present in any of the sets.

In [118]:
a = {1, 2, 3, 4, 5}
a

{1, 2, 3, 4, 5}

In [119]:
b = {2, 4, 6, 8, 10}
b

{2, 4, 6, 8, 10}

In [120]:
# Perform union of a and b using |
a | b

{1, 2, 3, 4, 5, 6, 8, 10}

As we can see that the set created by `union` operation all the elements present in either `a` or `b` or `both`.

***Intersection***

As the name suggests, `intersection` which is performed using `'&'` operator consists only of those elements which are present in both the sets.

In [121]:
a

{1, 2, 3, 4, 5}

In [122]:
b

{2, 4, 6, 8, 10}

In [123]:
a & b

{2, 4}

***Difference***

We can take the difference of two sets using `'-'` operator. When we perform `a-b` the resultant set will containg only thos elements of `a` which are not present in `b`.

In [124]:
a

{1, 2, 3, 4, 5}

In [125]:
b

{2, 4, 6, 8, 10}

In [126]:
a - b

{1, 3, 5}

In [127]:
b - a

{6, 8, 10}

Maybe these operations will become a little more clear by a diagram.

![set_operations](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/set_operations.png)

We can represent set A with the blue colored circle and set B with the yellow colored circle. Then

-  ***Intersection (A & B)*** represents the overlapping area between the two (values present in both)
-  ***A - B*** represents the area of A other than the overlapped area (elements present in A but not in B)
-  ***B - A*** represents the area of B other than the overlapped area (elements present in B but not in A)
-  ***Union (A | B)*** respresents the entire colored area whether blue or yellow or overlapped (elements present in either A or Bo or both)

*Our discussion of sets end here, now lets start with the last collection in python named* ***Dictionaries***.

<hr>
<br>

## Dictionaries

A ***dictionary*** is a collection of key-value pairs. A dictionary can be created by using curly brackets containing key-value pairs separated by commas. Key and valye are separated by a `':'`. Lets create a dictionary.

In [128]:
# Create a dictionary
my_dict = {'A': 1, 'B': 2, 'C':3}
my_dict

{'A': 1, 'B': 2, 'C': 3}

In [129]:
type(my_dict)

dict

In the above example, ***A***, ***B*** and ***C*** are the keys whereas ***1***, ***2*** and ***3*** are their corresponding values. Keys in a dictionary need to be ***immutable*** and ***unique***. Values can be anything.

Lets try to create a dictionary with duplicate keys and see what happens.

In [130]:
# Creating a dict with duplicate keys
dictionary = {'A': 1, 'B': 2, 'A':3}
dictionary

{'A': 3, 'B': 2}

As we can see only one key-pair with key `'A'` is present in the dictionary. We will discuss more about what happened here when we talk about mutability.

### Looking up a value in dictionary

We can lookup for a value in a dictionary using keys. Syntax is almost similar to indexing syntax of tuples and lists, the difference only being that instead of providing index in the square brackets, for dictionaries we provide key to lookup for.

In [131]:
my_dict

{'A': 1, 'B': 2, 'C': 3}

In [132]:
# Lookup the value for key 'A'
my_dict['A']

1

In [133]:
# Lookup the value for key 'C'
my_dict['C']

3

If we try to lookup for a key not present in the dict, python throws an error as shown below.

In [134]:
# Lookup a key not present in dict
my_dict['D']

KeyError: 'D'

### Mutability in dictionaries

***Dictionaries*** are ***mutable***. This means that we can modify a dict object by adding new key-value pairs or deleting existing key-value pairs.

***Adding a key-value pair***

We can add a key-value pair to a dictionary as below-

In [135]:
my_dict

{'A': 1, 'B': 2, 'C': 3}

Lets try to add key `'D'` with a value of `4` to the dictionary.

In [136]:
# Add a new key-value pair to dict
my_dict['D'] = 4
my_dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

As we can see, we are successfully able to add a new key-value pair to the dictionary.

What if we try to add a new key-value pair to the dictionary with an already exisitng key? Lets try this out.

In [137]:
my_dict

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

Lets try to add key `'B'` with a value `10`.

In [138]:
# Try to add a key-value pair to dict with already exisitng key
my_dict['B'] = 10
my_dict

{'A': 1, 'B': 10, 'C': 3, 'D': 4}

We see that there is only one key-value pair in the dictionary with key `'B'` which is as expected as we learnt in the introduction that keys must be unique in a dictionary.

But observe the corresponding value for the `'B'`. Earlier it was `2` now it has become `10` which was the new value in the key-value pair we were trying to insert.

Thus we can say that while trying to add a key-value pair to dict:
-  If the ***key is already not present*** in the dict, ***key-value pair gets added*** to it.
-  If the ***key is already present***, the ***value get overwritten***.

***Deleting a key-value pair***

We can delete an existing key-value pair from a dictionary using the `del()` method as follows.

In [139]:
my_dict

{'A': 1, 'B': 10, 'C': 3, 'D': 4}

In [140]:
# Delete key value pair with key 'D'
del(my_dict['D'])
my_dict

{'A': 1, 'B': 10, 'C': 3}

### Checking if a key is present in the dictionary

We can check if a key is present in the dictionary using the `in` command. It returns `True` if the key is present else return `False`.

In [141]:
my_dict

{'A': 1, 'B': 10, 'C': 3}

In [142]:
# Check if key 'B' is present in the dict
'B' in my_dict

True

In [143]:
# Check if key 'D' is present in the dictionary
'D' in my_dict

False

### Getting list of keys and values from dictionary

We can get a list of all the keys and values present in the dictionary. Lets try it out with an example.

Lets create a new dictionary `a_dict`.

In [144]:
# Create a dictionary
a_dict = {'A': 1, 'Z': 2, 'B': 3, 4: 'Hello'}
a_dict

{'A': 1, 'Z': 2, 'B': 3, 4: 'Hello'}

We can get the list of keys of a dictionary using the `keys()` function as below.

In [145]:
# Get the list of keys
a_dict.keys()

dict_keys(['A', 'Z', 'B', 4])

In [146]:
type(a_dict.keys())

dict_keys

As we can see the type of result of `keys()` method is ***dict_keys***. WE can easily convert it to a list if needed as below-

In [147]:
list(a_dict.keys())

['A', 'Z', 'B', 4]

***We should observe here that the keys we get in the list are in a specific order. They are in the order in which we put them in the dictionary.***

Similarly we can get all the values present in the dictionary using the `values()` function.

In [148]:
a_dict

{'A': 1, 'Z': 2, 'B': 3, 4: 'Hello'}

In [149]:
# Get the list of values
a_dict.values()

dict_values([1, 2, 3, 'Hello'])

In [150]:
type(a_dict.values())

dict_values

We can very easily convert `dict_values` in a list as well using the same syntax we used for keys.

In [151]:
list(a_dict.values())

[1, 2, 3, 'Hello']

***Again, the values are again in the same order in which we put them in the dictionary. Or we can say that they are in the same order as keys.***

<hr>

<br>*So this brings us to the end of the Part 2 of this series of posts on Python Fundamentals. Hope you found this useful.* 

You can read Part 3 of the series [here](http://learningmlandai.com/python-fundamentals-part-3/) in which we have discussed about:

-  ___Comparison and Logical operators___ 
-  ***Branching and Loops***
-  ***Functions***

You can checkout the source notebook for this post [here](https://github.com/guptanik/python-fundamentals/blob/master/PythonFundamentals-Part2.ipynb) on Github.

***Additional Resources***

-  __[Source Notebook for this post](https://github.com/guptanik/python-fundamentals/blob/master/PythonFundamentals-Part2.ipynb)__
-  __[Python Official Site](https://www.python.org/)__
-  __[Applications of Python](https://www.python.org/about/apps/)__
-  __[Official documentation](https://docs.python.org/3/)__