# Python Fundamentals - Part I

![python_logo](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/python_logo.png)

This is the first post of the series of Python Fundamentals. These posts are a result of my own journey of learning python. In this series i have tried to include a lot of examples trying out different experiments of the new concepts which will be introduced. Experimenting, i guess is the best way to learn anything new. 

I would highly encourage you to try out the example code snippets from this post as you go along. It will help you gain the maximum out of this post.

Also I will be using [***Jupyter Notebook***](https://jupyter.org/) in this post exclusively to try out different things. Jupyter Notebook is an incredibly powerful too which is very commonly used in the field of Data Science and Machine Learning. Although we will not be discussing any DS or ML stuff in this series of post, i prefered to use Jupyter Notebook instead of any other IDE as it will help me become a little more comfortable using Jupyter Notebooks. You can use any IDE of your choice. If you are not familiar with Jupyter Notebooks and want to try it out, you can read my post on starting with Jupyter [***here***](http://learningmlandai.com/introduction-to-jupyter-notebook/).

Alright enough publicity! Lets dive straight into the exciting stuff.

## Basics

[***Python***](https://www.python.org/) is a general purpose programming language used in a variety of applications. It is very simple and since it closely resembles the English language, it is incredibly easy to read and understand. Because of this very reson, Python has become a very popular language in a very short time.

Without any further delay, lets write our very first python program. We will begin by saying `Hello World!` the python way!

In [1]:
print("Hello World!")

Hello World!

As you can see we can print anything using the `print` command. Anything we write inside the `""` in the print command gets printed as it is. Lets try another example.

In [2]:
print("Python seems fun :)")

Python seems fun :)

and another -

In [3]:
print("Whatever i write here gets printed. Magic!")

Whatever i write here gets printed. Magic!

Now we can use single quotation marks `''` to get the same result.

In [4]:
print('This works')

This works

In [5]:
print('So single quotation marks works as well')

So single quotation marks works as well

***Using comments***

It is usually a good practice to include `comments` in your code. Comments are lines or statements that you can include in the code wherever needed. Comments are used to describe your code so that the person reading your code (even you yourself) will be able to get context of what you are trying to do in the code. Comments are just for readability purposes and are totally ignored by the compiler. So they don't have any effect on the output of the code.

You can include a comment in python using the `#` character. Everything on the line after the `#` character is part of the comment and is ignore by the compiler.

In [6]:
# Program to try print something using single quotation marks
print('Just another experiment with single quotes.')

Just another experiment with single quotes.

## Data types in python

Python has the capability to handle a wide variety of data namely -
-  ***Integers*** (`int`) - Eg. 3, 8, 155, -4, -120
-  ***Floating point numbers*** (`float`) - Eg. 3.14, 9.999, -123.32
-  ***String/Character sequences*** (`str`) - Eg. "Hello", "String can have space as well"
-  ***Boolean values*** (`bool`) - Eg. True and False

In [7]:
# Example of integers
3

3

In [8]:
# Another example of integers
-10

-10

In [9]:
# Example of floating point numbers
3.14

3.14

In [10]:
# Another example of floating point numbers
-125.485

-125.485

In [11]:
# Example of a string 
"Hello"

'Hello'

In [12]:
# Another example of a string made up many words
"This string is made of many words."

'This string is made of many words.'

In [13]:
# Another example of string - an integer value as a string
"20"

'20'

In [14]:
# Another example of string - an float value as a string
"15.55"

'15.55'

In [15]:
# Example of boolean value True
True

True

You can see that the word True in above output is not contained in quotes. So it is not a string type but is a boolean type.

In [16]:
# Example of boolean value False
False

False

You can check the type of a value in python using the `type` command.

In [17]:
# Check type of an integer value
type(3)

int

In [18]:
# Check type of a floating value
type(3.14)

float

In [19]:
# Check type os a string value
type("Hello")

str

In [20]:
# Check type of a boolean value
type(True)

bool

## Variables

You can store a value of any of the above types (and many more complex types which we will discuss later) in the memory and can assign a name to it. This is called a `Variable`.

In [21]:
# Example of an integer variable
a = 5
print(a)
print(type(a))

5
<class 'int'>

In the above example we created a variable named ***`a`*** and assigned it an integer value of ***`5`***. We can see that when we use ***`a`*** in the print statement, it prints the value of a i.e. ***`5`***. Further when we printed the ***`type`*** of variable ***`a`***, we get the output ***`int`***. This confirms that a is an integer type variable.

Similarly we can create variables of other types.

In [22]:
# Example of a float variable
pi = 3.14
print(pi)
print(type(pi))

3.14
<class 'float'>

In [23]:
# Example of a string variable
name = "Tom Hanks"
print(name)
print(type(name))

Tom Hanks
<class 'str'>

In [24]:
# Example of a boolean variable
status = True
print(status)
type(status)

True

bool

*It is good practice to give your variables some meaningful name. Providing meaningful names help others looking at the code to get an idea of what the variable is used for.*

Suppose you came across the variable x below -

`x = 12`

After reading this statement, it is not very clear what is the value stored in x. If we had named the variable a little more cautiously like below - 

`number_of_months_in_a_year = 12` or

`roll_number = 12` or

`marks_scored = 12`

it becomes very clear from the name of the variable what value is being stored in it.

So always try to give your variables some useful names.

## Typecasting

In many situations, we often need to convert one type of variable into another - say an `integer` to a `string` or vice versa. This is called `Typecasting`

***Typecasting integer to float***

In [25]:
# Typecasting an integer to a float value
a = 5
print("Value of a is {0}".format(a))
print("Type of a is {}".format(type(a)))
b = float(a)
print("Value of a is {0}".format(b))
print("Type of a is {}".format(type(b)))

Value of a is 5
Type of a is <class 'int'>
Value of a is 5.0
Type of a is <class 'float'>

In the above code snippet, we create a variable ***`a`*** of `int` type by assigning it an integer value of ***`5`***. We have confirmed this by printing the value of ***`a`*** and the type of ***`a`***. (*We have used some special syntax in the print command. Ignore it for now. We will talk about it shortly.*) 

Then we converted ***`a`*** to a `float` type by using the `float()` command and passing ***`a`*** to it and assigned the resulting float value to ***`b`***. Again we have confirmed above that the value of b is ***`5.0`*** (decimal since it is a floating type value) and its type is indeed `float`.

<hr>

***Special syntax in the `print` command***

It isn't of much use if we can print only simple fixed string values. Often we need to display the properties of a variable (name, type or others) in a descriptive manner like above. Thus we need to include extra values in a string somehow. This can be achieved using the `format` command. 

Suppose we want to diaplay the month name with the number of days in it. So we can have a display string something like this -

**display_string** = _"month_name has number_of_days days in it."_

Here we have two variable values in the string - *`month_name`* and the *`number_of_days`*

So in the string, we use curly braces where we expect the variable values to be inserted and number them starting with 0 and incrementing by 1. So above display_string becomes:

**display_string** = _"{0} has {1} days in it."_ # not complete yet

Finally we can provide the variable values. This we can accomplish using the format command. We provide all the variables inside the format command in a comma separated format. Number of values inside the format command must be same as the number of curly braces in the string. So finally our `display_string` becomes-

**display_string** = _"{0) has {1} days in it.".format(month_name, number_of_days)_

Lets try this out!

In [26]:
# Experimenting with format command to display number of days in January
month_name = "January"
number_of_days = 31

display_string = "{0} has {1} days in it.".format(month_name, number_of_days)

print(display_string)

January has 31 days in it.

We don't really need to create the intermediate variable `display_string`. We can directly use the format comaand on the string inside the print command like we did in typecasting example above. So lets try one more time.

In [27]:
# Experimenting with format command by removing intermediate variable display_string
month_name = "April"
number_of_days = 30

print("{0} has {1} days in it.".format(month_name, number_of_days))

April has 30 days in it.

<hr>

So coming back to typecasting, below is the example for casting an integer to a string

***Typecasting integer to string***

In [28]:
# Typecasting an integer to a string value
a = -5
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = str(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is -5 and the type of a is <class 'int'>
Value of b is -5 and the type of b is <class 'str'>

*In the above example you might notice the value of* ***`b`*** *is not printed in quotes but is printed similar to the way value of* ***`a`*** is printed. This doesn't mean that ***`b`*** is not a string. ***`b`*** is indeed a string and the same is confirmed when we print the type of ***`b`***. We just don't see the quotation marks around the value of b because it is internally used within another string, so it becomes a part of the bigger string and thus doesn't have quotation marks. We can again verify ***`b`*** is a string by just printing ***`b`***.

In [29]:
b

'-5'

***Typecasting integer to bool***

All the ***`positive integers`*** get typecasted to boolean ***`True`*** as we can see in the examples below-

In [30]:
# Typecasting a positive integer to bool
a = 1
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 1 and the type of a is <class 'int'>
Value of b is True and the type of b is <class 'bool'>

In [31]:
# Another example of typecasting another positive integer to bool
a = 10
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 10 and the type of a is <class 'int'>
Value of b is True and the type of b is <class 'bool'>

How about ***`negative values`***? Lets try it out.

In [32]:
# Typecasting a negative integer to bool
a = -1
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is -1 and the type of a is <class 'int'>
Value of b is True and the type of b is <class 'bool'>

In [33]:
# Another example of typecasting another negative integer to bool
a = -10
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is -10 and the type of a is <class 'int'>
Value of b is True and the type of b is <class 'bool'>

So even all the ***`negative values`*** are typecasted to a boolean ***`True`*** value.

Lets find out what happens with the integer value of ***`0`***.

In [34]:
# Typecasting integer value of 0 to bool
a = 0
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 0 and the type of a is <class 'int'>
Value of b is False and the type of b is <class 'bool'>

So as we can see in the above example, integer value of ***`0`*** typecasted to boolean value ***`False`***.

Thus now we know that an integer value of ***`0`*** typecasts to ***`False`*** whereas all other integer values ***`postive`*** or ***`negative`*** gets typecasted to ***`True`***.

***Typecasting float to int***

In [35]:
# Typecasting float value to integer
a = 14.0
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = int(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 14.0 and the type of a is <class 'float'>
Value of b is 14 and the type of b is <class 'int'>

We just need to keep one thing in mind that typecasting a `float` value to `int` might result in the loss of information as can be seen in the example below-

In [36]:
# Typecasting float value to int with loss of information
a = 3.14
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = int(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 3.14 and the type of a is <class 'float'>
Value of b is 3 and the type of b is <class 'int'>

As we can see in the above example, typecasting float value of ***`3.14`*** to int results in the integer value of ***`3`***. Thus we loose the information ***`0.14`*** in the process.

Similarly we can typecaste `float` to `string` and `bool` as well as shown in examples below-

***Typecasting float to string***

In [37]:
# Typecasting float value to string
a = 14.58
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = str(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 14.58 and the type of a is <class 'float'>
Value of b is 14.58 and the type of b is <class 'str'>

***Typecasting float to bool***

Like int, a float value of ***`0.0`*** gets typecasted to ***`False`***. Rest all float values whther positive or negative gets typecasted to ***`True`***.

In [38]:
# Typecasting positive float value to bool
a = 14.5
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 14.5 and the type of a is <class 'float'>
Value of b is True and the type of b is <class 'bool'>

In [39]:
# Typecasting negative float value to bool
a = -1.5
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is -1.5 and the type of a is <class 'float'>
Value of b is True and the type of b is <class 'bool'>

In [40]:
# Typecasting float value of 0 to bool
a = 0.0
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 0.0 and the type of a is <class 'float'>
Value of b is False and the type of b is <class 'bool'>

***Typecasting string to int***

In [41]:
# Typecasting string value to int
a = "145"
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = int(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 145 and the type of a is <class 'str'>
Value of b is 145 and the type of b is <class 'int'>

***Typecasting string to float***

In [42]:
# Typecasting string value to float
a = "145.5"
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = float(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is 145.5 and the type of a is <class 'str'>
Value of b is 145.5 and the type of b is <class 'float'>

***Typecasting string to bool***

Typecasting a non empty string results in ***`True`*** whereas typecasting of a empty string results in ***`False`***.

In [43]:
# Typecasting non-empty string to bool
a = "hello"
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is hello and the type of a is <class 'str'>
Value of b is True and the type of b is <class 'bool'>

In [44]:
# Typecasting empty string to bool
a = ""
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = bool(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is  and the type of a is <class 'str'>
Value of b is False and the type of b is <class 'bool'>

***Typecasting bool to int***

Boolean value of ***`True`*** gets typecasted to ***`1`*** whereas boolean value of ***`False`*** gets typecasted to ***`0`***.

In [45]:
# Typecasting bool True to int
a = True
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = int(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is True and the type of a is <class 'bool'>
Value of b is 1 and the type of b is <class 'int'>

In [46]:
# Typecasting bool False to int
a = False
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = int(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is False and the type of a is <class 'bool'>
Value of b is 0 and the type of b is <class 'int'>

***Typecasting bool to float***

In [47]:
# Typecasting bool True to float
a = True
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = float(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is True and the type of a is <class 'bool'>
Value of b is 1.0 and the type of b is <class 'float'>

In [48]:
# Typecasting bool False to float
a = False
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = float(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is False and the type of a is <class 'bool'>
Value of b is 0.0 and the type of b is <class 'float'>

***Typecasting bool to string***

In [49]:
# Typecasting bool True to string
a = True
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = str(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is True and the type of a is <class 'bool'>
Value of b is True and the type of b is <class 'str'>

In [50]:
# Typecasting bool False to string
a = False
print("Value of a is {} and the type of a is {}".format(a, type(a)))

b = str(a)
print("Value of b is {} and the type of b is {}".format(b, type(b)))

Value of a is False and the type of a is <class 'bool'>
Value of b is False and the type of b is <class 'str'>

## Mathematical operations on variables

Python supports different kinds of mathematical operations to manipulate the values as needed - 

-  ***`+`*** - Addition
-  ***`-`*** - Subtraction
-  ___`*`___ - Multiplication
-  ***`/`*** - Floating division
-  ***`//`*** - Integer division
-  ***`%`*** - Remainder
-  ___`**`___ - Exponentiation

Below example shows the usage of all these mathematical operations-

In [51]:
# Mathematical operations example
a = 8
b = 10

# Addition
print("Result of '+' for {0} and {1} is {2}.".format(a, b, a + b))

# Subtraction
print("Result of '-' for {0} and {1} is {2}.".format(a, b, a - b))

# Multiplication
print("Result of '*' for {0} and {1} is {2}.".format(a, b, a * b))

# Floating division - result is float
print("Result of '/' for {0} and {1} is {2}.".format(a, b, a / b))

# Integer division - result is int
print("Result of '//' for {0} and {1} is {2}.".format(a, b, a // b))

# Remainder
print("Result of '%' for {0} and {1} is {2}.".format(a, b, a % b))

# Exponentiation
print("Result of '**' for {0} and {1} is {2}.".format(a, b, a ** b))

Result of '+' for 8 and 10 is 18.
Result of '-' for 8 and 10 is -2.
Result of '*' for 8 and 10 is 80.
Result of '/' for 8 and 10 is 0.8.
Result of '//' for 8 and 10 is 0.
Result of '%' for 8 and 10 is 8.
Result of '**' for 8 and 10 is 1073741824.

Python follows all the mathematical conventions while performing calculations. All calculations as carried out as per ***`BEDMAS`*** - (Brackets, Exponentiation, Division, Multiplication, Addition, Subtraction).

This can be observed in the below example-

In [52]:
# Example of BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

We can perform operations on variables and store the result in a new variable as needed. Refer to the example below -

In [53]:
# Mathematical operation on variable and storing result in another variable
a = 5
print("Value of a is {}".format(a))

b = a + 2;
print("Value of b is {}".format(b))

Value of a is 5
Value of b is 7

We can update the value of a variable as well as shown below -

In [54]:
x = 5
print("Initial value of x is {}".format(x))

x = x*5
print("After update, value of x is {}".format(x))

Initial value of x is 5
After update, value of x is 25

## String

***String*** is such an important data type in any programming language that it deserves a dedicated section of its own. It is very important to understand Strings as they prove to be the entry point of much more complex concepts like collections, indexing and slicing in python. However it is not that difficult to understand all these concepts and once clear it will pave a strong foundation for future complex concepts. So lets get started.

A ***string*** can be described as a ordered sequence of characters. To understand this lets take an example string.

In [55]:
my_string = "Hello World"
print(my_string)

Hello World

Now we can consider the string variable ***`my_string`*** as an ordered collection of individual characters which in this case would be ordered sequence of - _`'H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'`_

And `ordered` because these charcters appear in a specific order. If we were to change the order of any character it will become a new string. Suppose we were to change the positions of *`'H'`* and *`'W'`*, new string will become *`"Wello Horld"`* which is definitely not the same as *`"Hello World"`*.

Since a string is nothing but a ordered collection of charcters, we can count the number of charcters in the string. For our example `my_string` is made of 11 individual characters. This is known as the `length` of the string. So our `my_string` has a length of 11.

We can find the length of any string in python using the ***`len()`*** command.

In [56]:
# Finding length of my_string using len() command
length = len(my_string)
print(length)

11

which is the same as we expected. Now lets consider one more example -

In [57]:
# Program to find length of another string
new_string = "I wish today was a holiday!"
new_string_length = len(new_string)
print(new_string_length)

27

If you count the number of charcters in value of new_string, you will find there are exactly 27 charcters.

### Indexing in strings

Now since we define a string as an ordered sequence of characters, we can use integer positions to specify the location of each character. This is known as ***`indexing`***. In python we start the indexing from 0. So we say that the `index of first charcter is 0`, `of second character is 1` and so on till we reach the end of the string. It will become more clear with the help of the image below-

![string_with_positive_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/string_with_positive_indexing.png)

So for the string variable `my_string` shown in image above, we can say that the character at `index 0 is 'H'`, at `index 1 is 'e'`, at `index 5 is ' '` and so on. Notice that the index of the last character is 10 which is 1 less than the length 11 of the string. This makes sense because indexing starts from 0.

So we can say that the index of last character of any string will be `length of string - 1`.

Python provides us functionality to access character at a specific position using index. We can do this by specifying the index in square brackets after the name of the string like - `my_string[index]`. To access the character at index 0, we will replace the index in the above syntax with 0 so it becomes `my_string[0]`. This should give us `'H'`. Lets try if it works.

In [58]:
# Get charcter at index 0 of my_string
my_string[0]

'H'

Yes it works! Now lets try getting the charcter at index say 4. We know it should be `'o'`.

In [59]:
# Get charcter at index 0 of my_string
my_string[4]

'o'

Works as expected. This way we can access charcter at any index of the string. 

One thing to keep in mind is that the index value should be a valid value. If we use an index value which doesn't exist python will throw an error. Lets try getting the charcter at index 15 which we know is an invalid index (since max index for `my_string` is 10).

In [60]:
# Get charcter at an invalid index
my_string[15]

IndexError: string index out of range

As expected, python throws an error. So we should take care that we use only valid index values.

Now python supports negative indexing for strings as well. Negative indexing starts from -1 and from the right end of the string as shown in image below.

![string_with_negative_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/string_with_negative_indexing.png)

In [61]:
# Get character at index -1 of my_string
my_string[-1]

'd'

In [62]:
# Get character at index -4 of my_string
my_string[-4]

'o'

In [63]:
# Get character at index -10 of my_string
my_string[-10]

'e'

### Slicing in strings

Now instead of getting a single character from a string, we can get a group of charcters as well starting from a valid index and ending at a valid index. This is known as slicing as we pickout a slice or a group of characters from the original string.

Let me add the image of positive indexing again for our reference. Slicing can work for negative indexing as well, but lets first understand it for positive indexing and then we will see how to do slicing using negative indexing.

![string_with_positive_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/string_with_positive_indexing.png)

Now the syntax of slicing is that we have a square brackets following the string name. And in the square brackets we specify the `starting_index_of_slice` and the `ending_index_of_slice + 1` separated by a `:`. 

So the syntax becomes - ***`my_string[start_index : end_index + 1]`***.

Suppose we want to get the slice starting from index 2 and ending at index 8, our syntax in this case becomes -

***`my_string[2 : 8+1]`***

or ***`my_string[2 : 9]`***

Lets see if it works. Output should be `'llo Wor'`.

In [64]:
# Print slice of my_string starting at 2 and ending at 8
my_string[2: 9]

'llo Wor'

Which as we see is what we expected in the output. Now lets try one more time. This time lets try to get slice starting from index 0 and ending at index 6. For this our syntax becomes-

***`my_string[0 : 6+1]`***

or ***`my_string[0 : 7]`***

Lets try if it works. Output should be `'Hello W'`.

In [65]:
# Print slice of my_string starting at 0 and ending at 6
my_string[0: 7]

'Hello W'

Which is again the expected output.

Now in slicing we can have minor variations. 
-  Suppose we want a slice starting from index 0 which is the first charcter of the string. In this case it is not necessary to specify the starting index in the syntax. So syntax becomes - `my_string[ : end_index + 1]`
-  Suppose we want a slice ending at the last charcter of the string. In this case it is not necessary to specify the ending index of the slice in the syntax. So syntax becomes - `my_string[start_index : ]`

Suppose if we want the entire string as a slice, in this case both the conditions mentioned above becomes true. This we can omit both the start_index and the end_index in the syntax. So for this case syntax becomes - `my_string[ : ]`.

Lets try all these three cases.

In [66]:
# Example of slicing starting from first charcter, so omitting start_index from syntax
my_string[ : 7]

'Hello W'

In [67]:
# Example of slicing ending at last charcter, so omitting end_index from syntax
my_string[3 : ]

'lo World'

In [68]:
# Getting entire string as a slice
my_string[ : ]

'Hello World'

Now since we are familiar with the concept of slicing, it will be easy for us to understand slicing using negative indexing. Let me add the negative indexing image again for the reference.

![string_with_negative_indexing](https://learn-ml-and-ai-blog-resources.s3.us-east-2.amazonaws.com/PythonFundamentals/string_with_negative_indexing.png)

Now with this image as reference, try to understand the below experiments of slicing using negative indexing. Comments should help.

In [69]:
# Print slice of my_string starting at -10 index and ending at -3 index
my_string[-10 : -3 + 1]

'ello Wor'

In [70]:
# same as above, with end_index simplified
my_string[-10 : -2]

'ello Wor'

In [71]:
# Print slice of my_string starting at -7 index and ending at -4 index
my_string[-7 : -3]

'o Wo'

In [72]:
# Print slice of my_string starting from first charcter and ending at -3 index
my_string[ : -2]

'Hello Wor'

In [73]:
# Print slice of my_string starting at -10 index and ending at last character
my_string[-10 : ]

'ello World'

Till now we have considered slices where we get continuous sequence of charcters. We can get a slice formed of every second character as well as in the example below -

In [74]:
# Slice consiting of every second character of the string
my_string[0 : 12 : 2]

'HloWrd'

In this example, we started at index 0 and picked every second element after that till index 12-1 i.e. 11.
So we picked -

0  -> 'H'

2  -> 'l'

4  -> 'o' 

6  -> 'W'

8  -> 'r'

10 -> 'd'

So we can consider the extra parameter that we included in the syntax my_string[0 : 12 : ***`2`***] can be considered as the stride/step size. Till now when we were not providing it, default value of 1 was being used so we were getting the continuous sequence of characters.

Now lets getting every third element of the entire string starting from the first character.

In [75]:
# Slice consiting of every third character of the string
my_string[ :  : 3]

'HlWl'

### Operations on strings

***Concatenation***

We can concatenate two strings using `'+'` operator. The result is a new string. Consider the example below for this-

In [76]:
# Concatenation of two string using +
string_one = "Michael"
string_two = " Jackson"

string_one + string_two

'Michael Jackson'

***Replication***

We can replicate a string n times by using `'*'` operator. Result is a new string.

In [77]:
# Replicating a string two times using *
string = "Hello"
string * 2

'HelloHello'

In [78]:
# Replicating a string 5 times using *
string * 5

'HelloHelloHelloHelloHello'

### Immutability of strings

String are ***immutable***. That means that we can't change a string value once created. Although we can always create a new string.

Consider we created a string variable as below-

In [79]:
# Create a string variable to try mutating it
s = "Car"

Now if we try to change the first charcter from 'C' to 'B', python doesn't allow us to do that as shown below.

In [80]:
# Try changing C to B
s[0] = 'B'

TypeError: 'str' object does not support item assignment

Although we can always assign the entire new value of `'Bar'` to ***`s`***. But this will lead to the creation of a new string and ***`s`*** will then refer to that.

To see this, lets use the `id()` command which tells us the address of any variable.

Lets first find the current address of ***`s`***.

In [81]:
# Find original address of s
id(s)

140730637666288

Now lets assign the new value of `'Bar'` to ***`s`*** and get the address again.

In [82]:
# Assign a new value to s and get new address
s = 'Bar'
id(s)

140730623510448

As we can see that the two addresses are not same which points that ***`s`*** has become a new string after we assigned a new value.

### String methods

Python has a large number of methods available for string manipulation. Here we introduce you some of them.

***Convert a string to upper case using `upper()` method***

In [83]:
# Convert string to uppercase

name = "Michael Jackson"
name.upper()

'MICHAEL JACKSON'

***Convert a string to lower case using `lower()` method***

In [84]:
# Convert string to lowercase

name = "Michael Jackson"
name.lower()

'michael jackson'

***Finding a substring***

We can find where a substring exists in a string if it exists using `find()` method. It return the starting index of the substring in the bigger string if it exists else return -1.

In [85]:
# Find substring 'Jack' in name
name.find('Jack')

8

In [86]:
# Find substring which doesn't exist
name.find('abc')

-1

***Replacing a substring***

In addition to finding a substring, we can replace the substring with another substring as well using `replace()` function.

In [87]:
# Replace substring 'Jackson' with 'Schumacher'
name.replace('Jackson', "Schumacher")

'Michael Schumacher'

In [88]:
name

'Michael Jackson'

As we can see `replace()` method results in a new string. ***`name`*** still contains the same value as earlier.

*There are lots and lots of methods avaialble to manipulate string as per need. You dont really need to know them all. You can always look up for one when needed. Or if it doesn't exist, you can create one of your own!

<hr>

*So this brings us to the end of the Part 1 of this series of posts on Python Fundamentals. Hope you found this useful.* 

You can read Part 2 of the series [here](http://learningmlandai.com/python-fundamentals-part-2/) in which we have discussed about ***`collections`*** in Python. Or you can view all the posts in this series [here](http://learningmlandai.com/python-fundamentals/).

You can checkout the source notebook for this post [here](https://github.com/guptanik/python-fundamentals/blob/master/PythonFundamentals-Part1.ipynb) on Github.

***Additional Resources***

-  __[Source Notebook for this post](https://github.com/guptanik/python-fundamentals/blob/master/PythonFundamentals-Part1.ipynb)__
-  __[Python Official Site](https://www.python.org/)__
-  __[Applications of Python](https://www.python.org/about/apps/)__
-  __[Official documentation](https://docs.python.org/3/)__